<h2 mat-dialog-title>Reactions</h2>
<mat-dialog-content>
    <mat-button-toggle-group value="all" (change)="onFilterChange($event.value)" aria-label="Reactions filter">
        <mat-button-toggle value="all">
            <mat-icon color="primary">thumbs_up_down</mat-icon>
            <span class="filter-button-text">All reactions</span>
        </mat-button-toggle>
        <mat-button-toggle value="likes">
            <mat-icon color="accent">thumb_up</mat-icon>
            <span class="filter-button-text">Likes</span>
        </mat-button-toggle>
        <mat-button-toggle value="dislikes">
            <mat-icon color="warn">thumb_down</mat-icon>
            <span class="filter-button-text">Dislikes</span>
        </mat-button-toggle>
    </mat-button-toggle-group>
    <div *ngIf="loading" class="mat-spinner">
        <mat-spinner></mat-spinner>
    </div>
    <mat-list>
        <mat-list-item *ngFor="let reaction of reactions">
            <img draggable="false" matListAvatar src="{{reaction.user.avatar}}" alt="Avatar">
            <h3 class="username-title" matLine> {{reaction.user.userName}} </h3>
            <span matLine> {{reaction.user.email}} </span>
            <mat-icon class="reaction-icon" [color]="reaction.isLike ? 'accent': 'warn'" matListIcon>
                {{reaction.isLike ? "thumb_up" : "thumb_down"}}</mat-icon>
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
